body {
  background-color: #091a3a;
  background-image: url('assets/images/bg/8bit.gif');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
