// Variables for theme colors
$primary-color: #a5c4d4; // Soft blue
$background-color: rgba(0, 0, 0, 0.5); // Semi-transparent dark overlay
$text-color: #ffffff;
$input-background: rgba(255, 255, 255, 0.9);
$button-background: #0159B5;
$button-hover: #0172E8;

body {
  background-color: #091a3a;
  background-image: url('assets/images/bg/8bit.gif');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
