<div class="media-dashboard">
  <!-- Contributions Section -->
  Recent uploads
  <div class="contributions-section">
    @if (contributions.length > 0) {
      <div >
        @for (item of contributions; track item) {
          <div class="media-item">
            <img [src]="item.thumbnailUrl" alt="Thumbnail" />
            <div class="title">{{ item.title }}</div>
            <div class="status">{{ item.status }}</div>
            <button>Edit</button>
            <button>Delete</button>
          </div>
        }
      </div>
    } @else {
      <p>No contributions yet</p>
    }
  </div>

  Upload editor
  <!-- Uploader Section -->
  <div class="media-type-buttons">
    <div class="btns-left">
      <button mat-flat-button color="primary" (click)="selectMediaType('music')">Music</button>
      <button mat-flat-button color="primary" disabled (click)="selectMediaType('movies')">Movies</button>
      <button mat-flat-button color="primary" disabled (click)="selectMediaType('shows')">Shows</button>
    </div>
    <div class="btns-right">
      <button mat-flat-button color="primary" routerLink="/music-editor">Open Editor →</button>
    </div>
  </div>
</div>
