@import '../../styles/colors';

/* Styles for the table layout */
.media-uploader-music {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: $background-color;
  color: $text-color;
  border: 2px solid $button-background;
  border-radius: 8px;
  max-width: 80%;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th, td {
      border: 1px solid $button-background;
      padding: 0.5rem;
      text-align: left;
    }

    th {
      background-color: $button-background;
      color: $text-color;
    }

    td {
      background-color: $row-background;
      color: $text-color;

      input {
        width: 90%;
        padding: 0.5rem;
        border: none;
        background-color: transparent;
        color: $text-color;
      }
    }
  }

  /* Styles for the buttons */
  button {
    padding: 0.5rem 1rem;
    background-color: $button-background;
    color: $text-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover;
    }

    &:disabled {
      background-color: rgba($button-background, 0.5);
      cursor: not-allowed;
    }
  }
}

.custom-uploader {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: $button-background;
  color: $text-color;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover;
  }

  .loading-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid $text-color;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

input[type="file"] {
  display: none;
}

.add-content-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upload-btn {
  font-size: medium;
}
