<div class="media-uploader-music">
  <div class="add-content-btns">
    <div class="add-content-cols">
      <label for="file-uploader" class="custom-uploader">
        <span *ngIf="isLoading" class="loading-icon"></span>
        <span *ngIf="!isLoading">
      Add Songs
    </span>
      </label>
      <input id="file-uploader" type="file" (change)="onFileSelect($event)" accept=".mp3, .wav, .flac" multiple />
      <span *ngIf="uploadErrorMessage" class="uploadError-message">{{ uploadErrorMessage }}</span>
    </div>

    <div class="add-content-cols">
      <button id="submit-btn" class="upload-btn" (click)="onSubmit()" [disabled]="!isFormValid()">Upload</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Track</th>
        <th>Album Artist</th>
        <th>Composer</th>
        <th>Disc #</th>
        <th>Cover</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td><input [(ngModel)]="song.title" required /></td>
        <td><input [(ngModel)]="song.artist" required /></td>
        <td><input [(ngModel)]="song.album" required /></td>
        <td><input [(ngModel)]="song.genre" required /></td>
        <td><input [(ngModel)]="song.year" type="number" required /></td>
        <td><input [(ngModel)]="song.track" required /></td>
        <td><input [(ngModel)]="song.albumArtist" required /></td>
        <td><input [(ngModel)]="song.composer" /></td>
        <td><input [(ngModel)]="song.discNumber" required /></td>
        <td>
          <img *ngIf="song.cover.data && song.cover.format else placeholderCover" [src]="song.cover.data" height="50" width="50" />
          <ng-template #placeholderCover>
            <img src="assets/images/placeholder.png" alt="Blah" />
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
