<div class="media-uploader-music">
  <input id="file" type="file" (change)="onFileSelect($event)" multiple />
  <button (click)="addSongsToTable()">Add Songs to Table</button>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td><input [(ngModel)]="song.title" required /></td>
        <td><input [(ngModel)]="song.artist" required /></td>
        <td><input [(ngModel)]="song.album" required /></td>
        <td><input [(ngModel)]="song.genre" required /></td>
        <td><input [(ngModel)]="song.year" type="number" required /></td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()" [disabled]="!isFormValid()">Submit</button>
</div>
