<div class="login-container">
  <div class="overlay">
    <h1>Login</h1>
    <p class="login-subtext">Use your Jellyfin Credentials</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="user" placeholder="Enter your username" />
        @if (loginForm.get('user')?.hasError('required')) {
          <mat-error>
            Username is required
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="pass" type="password" placeholder="Enter your password" />
        @if (loginForm.get('pass')?.hasError('required')) {
          <mat-error>
            Password is required
          </mat-error>
        }
      </mat-form-field>

      <button mat-flat-button type="submit">Submit</button>
    </form>
    <div [ngStyle]="getSubmitResultStyle()">{{ submitText }}</div>
  </div>
</div>
