<div class="media-uploader-music">
  <div class="add-content-btns">
    <div class="add-content-cols">
      <label for="file-uploader" class="custom-uploader">
        @if (isLoading) {
          <i class="fa-solid fa-spinner fa-spin"></i>
        }
        @if (!isLoading) {
          <span><i class="fa-solid fa-music"></i> Add Songs</span>
        }
      </label>
      <input id="file-uploader" type="file" (change)="onFileSelect($event)" accept=".mp3, .wav, .flac" multiple />
    </div>

    <div class="add-content-cols">
      <button id="submit-btn" class="upload-btn" (click)="onSubmit()" [disabled]="!isFormValid()"><i class="fa-solid fa-cloud-arrow-up"></i> Upload</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Clear</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Track</th>
        <th>Album Artist</th>
        <th>Composer</th>
        <th>Disc #</th>
        <th>Cover</th>
      </tr>
    </thead>
    <tbody>
      @for (row of tableRows; track trackByRow($index, row)) {

        @if (row.type === 'album-header') {
          <tr class="album-header-row">
            <td></td>
            <td colspan="5" class="album-name-cell">
              <strong>{{ row.albumGroup!.albumName }}</strong>
            </td>
            <td>
              <input type="number"
                [ngModel]="row.albumGroup!.year"
                (ngModelChange)="updateAlbumField(row.albumGroup!.albumName, 'year', $event)"
                class="album-field-input" />
            </td>
            <td>
              <input
                [ngModel]="row.albumGroup!.albumArtist"
                (ngModelChange)="updateAlbumField(row.albumGroup!.albumName, 'albumArtist', $event)"
                class="album-field-input" />
            </td>
            <td colspan="2"></td>
            <td>
              @if (row.albumGroup!.cover && row.albumGroup!.cover.data) {
                <img [src]="row.albumGroup!.cover.data" height="50" width="50" />
              } @else {
                <img ngSrc="assets/images/placeholder.png" width="50" height="50" alt="Album" />
              }
            </td>
          </tr>
        }

        @if (row.type === 'song') {
          <tr class="song-row">
            <td>
              <button class="remove-btn" (click)="removeSong(row.song!)" title="Remove song">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
            <td><input [(ngModel)]="row.song!.title" required class="song-field-input" /></td>
            <td><input [(ngModel)]="row.song!.artist" required class="song-field-input" /></td>
            <td><input [(ngModel)]="row.song!.album"
                       (ngModelChange)="onSongAlbumChange(row.song!, $event)"
                       required class="song-field-input" /></td>
            <td><input [(ngModel)]="row.song!.genre" required class="song-field-input" /></td>
            <td><span class="readonly-field">{{ row.song!.year }}</span></td>
            <td><input [(ngModel)]="row.song!.track" type="number" required class="song-field-input" /></td>
            <td><span class="readonly-field">{{ row.song!.albumArtist }}</span></td>
            <td><input [(ngModel)]="row.song!.composer" class="song-field-input" /></td>
            <td><input [(ngModel)]="row.song!.discNumber" type="number" required class="song-field-input" /></td>
            <td>
              @if (row.song!.cover.data) {
                <img [src]="row.song!.cover.data" height="50" width="50" />
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>

  @if (uploadProgress.hasUploaded) {
    <div class="upload-progress-line">
      <span class="progress-text">{{ uploadProgress.uploadedCount }} of {{ uploadProgress.totalFiles }} uploaded</span>
      @if (uploadProgress.isUploading) {
        <div class="progress-bar-inline">
          <div class="progress-bar" [style.width.%]="uploadProgress.currentFileProgress"></div>
        </div>
      }
    </div>
  }
</div>
