name: App CI

on:
  push:
  pull_request:
    branches:
      - master
      - Experimental

env:
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "SkyeRangerDelta/PlDyn-Webapp"

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Backend Tests
        working-directory: backend
        run: deno task test:backend

      - name: Cache NodeJS Modules
        uses: actions/cache@v4
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('frontend/package-lock.json') }}
          restore-keys: |
              ${{ runner.os }}-node-${{ matrix.node-version }}-

      - name: Generate ENV
        run: |
          pwd
          touch .env
          echo $ENV_DATA | base64 --decode > .env

      - name: Test
        run: |
          cd frontend
          npm ci
          npm run test:ci

      - name: Build
        run: |
          cd frontend
          npm run build:ci
